@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #0984e3;
  height: 7px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1031;
}

#nprogress .peg {
  height: 5px;
  box-shadow: 0px 0px 5px #707070;
}

@keyframes scanline {
  0% { top: 0%; }
  100% { top: 100%; }
}
.scan-animation {
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(to bottom,  rgba(42, 168, 70, 0), rgba(42, 168, 70, 0.8));
  animation: scanline 2s linear infinite alternate;
  z-index: 10;
}
.video-container {
  position: relative;
  display: inline-block;
}

/* body.barcode-scanner-active .app-content {
  visibility: hidden;
}

.barcode-scanner-controls {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  visibility: visible !important;
}

.barcode-scanner-controls {
  top: auto;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

body.barcode-scanner-active {
  visibility: hidden;
}

.barcode-scanner-modal {
  visibility: visible;
}

.barcode-scanner-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: red;
  z-index: 9999;
  padding: 10px;
  text-align: right;
}

.barcode-scanner-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 9999;
  padding: 15px;
  text-align: center;
}

body {
  padding-top: env(safe-area-inset-top);
}
